ddddocr~=1.4.7
python-docx~=0.8.11
lxml~=4.9.1
playwright~=1.27.1
PyQt6~=6.4.0
qasync~=0.23.0
pyqtdarktheme~=1.1.0
requests~=2.11.1
websocket~=0.2.1
aiohttp~=3.8.3
loguru~=0.6.0
Pillow~=9.5.0
pyqt6-tools
pathlib~=1.0.1
websocket-client~=1.5.2
